.blog-1 {
    height: 100%;
    width: 80%;
   box-shadow: 5px 5px 5px #4b4b5c;
justify-content: center;
background-color: gray;
border-radius: 10px;
margin-left: 40px;
}
.img-style {
    justify-content: center;
    /* width: 80%; */
    /* padding-left: 50px; */
    color: transparent;
    /* border-radius: 10px; */
    width: 100%;
    

}
.bgColor{
    background-color: #0e0e37;
}